{% extends 'registration/auth_form_base.html' %}

{% block title %} Password change | MoviesSearch {% endblock %}

{% block errors %}

    {% if form.old_password.errors %}
        <div class="notification is-danger content">
            {{ form.old_password.errors }}
        </div>
    {% endif %}

    {% if form.new_password1.errors %}
        <div class="notification is-danger content">
            {{ form.new_password1.errors }}
        </div>
    {% endif %}

    {% if form.new_password2.errors %}
        <div class="notification is-danger content">
            {{ form.new_password2.errors }}
        </div>
    {% endif %}

{% endblock %}

{% block form %}

    <form method="post" action="">
        {% csrf_token %}

        <div class="field">
            <label class="label"> Old password </label>
            <div class="control">
                <input class="input" type="password" name="old_password" required/>
            </div>
        </div>

        <div class="field">
            <label class="label"> New password </label>
            <div class="control">
                <input class="input" type="password" name="new_password1" required/>
            </div>
        </div>

        <div class="field">
            <label class="label"> Confirm password </label>
            <div class="control">
                <input class="input" type="password" name="new_password2" required/>
            </div>
        </div>

        <div class="field is-grouped">
            <div class="control">
                <input class="button is-info" type="submit" value="Change password"/>
            </div>
            <div class="control">
                <a class="button" href="{% url 'index:home' %}"> Cancel </a>
            </div>
        </div>
    </form>

{% endblock %}
