{% extends 'index/base.html' %}
 {% block title %} Search | MoviesSearch {% endblock %}
 {% block content %}
     {% include 'index/navbar.html' %}
     <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-7-desktop">
                    <div class="box has-text-centered is-size-3">
                        <span class="icon is-large has-text-danger">
                            <i class="fas fa-film"></i>
                        </span>
                        <a class="has-text-dark" href="{% url 'search:movie' %}"> Find movie </a>
                    </div>
                    <div class="box has-text-centered is-size-3">
                        <span class="icon is-large has-text-danger">
                            <i class="fas fa-male"></i>
                        </span>
                        <a class="has-text-dark" href="{% url 'search:human' %}"> Find human </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
 {% endblock %}
